.download-button{
    border-radius: 1em;
    background-color: black;
    max-width: 100%;
    padding: 8px;
}

.download-button > img{
    min-height: 64px;
}

.download-button > img + span{
    color: white;
}