.download-button{
    display: inline-block;
    border-radius: 8px;
    background-color: black;
    max-width: 100%;
    padding: 8px;
    line-height: 64px;
    font-family: sans-serif;
    font-size: 32px;
}

.download-button > img{
    vertical-align: middle;
    max-height: 64px;
    min-height: 64px;
}

.download-button > img + span{
    vertical-align: middle;
    color: white;
}